<ng-container *ngIf="avecClassesFormGroup; then avecClasseFormGroupTemplate; else normalTemplate"></ng-container>
<ng-template #avecClasseFormGroupTemplate>
    <ng-container *ngFor="let contenu of contenus">
        <ng-container *ngTemplateOutlet="contenuTemplate; context: { contenu1: contenu }"></ng-container>
    </ng-container>
</ng-template>
<ng-template #normalTemplate>
    <ng-container *ngFor="let contenu of contenus">
        <ng-container *ngIf="avecClasseFormGroup(contenu); then formGroupTemplate; else simpleTemplate"></ng-container>
        <ng-template #formGroupTemplate>
            <div class="form-group">
                <ng-container *ngTemplateOutlet="contenuTemplate; context: { contenu1: contenu }"></ng-container>
            </div>
        </ng-template>
        <ng-template #simpleTemplate>
            <ng-container *ngTemplateOutlet="contenuTemplate; context: { contenu1: contenu }"></ng-container>
        </ng-template>
        
        <ng-container *ngTemplateOutlet="contenuTemplate; context: { contenu1: contenu }"></ng-container>
    </ng-container>
</ng-template>
<ng-template #contenuTemplate let-contenu="contenu1">
        <app-kf-composant [attr.nom]="contenu.nom" [ngClass]="{'kf-invisible': !contenu.visible}" [composant]="contenu" (output)="transmet($event)">
        </app-kf-composant>
</ng-template>
