<ng-template #enTetesTemplate>
    <ng-container *ngFor="let enTete of vueTable.enTetes">
        <th>
            <app-kf-composant [composant]="enTete" (output)="transmet($event)"></app-kf-composant>
        </th>
    </ng-container>
    <th *ngIf="vueTable.avecCommandes"></th>
    <th *ngIf="vueTable.avecComposantsAValider" class="kf-invisible"></th>
</ng-template>

<ng-template #ligneTemplate let-ligne="ligne1">
    <ng-container *ngFor="let cellule of ligne.cellules">
        <td [class]="cellule.classe">
            <ng-container *ngIf="cellule.texte">{{ cellule.texte }}</ng-container>
            <ng-container *ngIf="cellule.composant">
                <app-kf-composant [composant]="cellule.composant" (output)="transmet($event)"></app-kf-composant>
            </ng-container>
        </td>
    </ng-container>
    <td *ngIf="ligne.commandes">
        <ng-container *ngFor="let commande of ligne.commandes">
            <app-kf-composant [composant]="commande" (output)="transmet($event)"></app-kf-composant>
        </ng-container>
    </td>
    <td *ngIf="ligne.composantsAValider" class="kf-invisible">
        <ng-container *ngFor="let composant of ligne.composantsAValider">
            <app-kf-composant [composant]="composant" (output)="transmet($event)"></app-kf-composant>
        </ng-container>
    </td>
</ng-template>

<ng-container *ngIf="vueTable.avecValeur; then thenTemplate; else autreTemplate"></ng-container>

<ng-template #thenTemplate>
    <table [class]="vueTable.classe" #tableElement>
        <thead *ngIf="vueTable.enTetes" [class]="vueTable.classeEntete">
            <tr>
                <ng-container *ngTemplateOutlet="enTetesTemplate"></ng-container>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let ligne of vueTable.lignes">
                <tr [class]="" [formGroup]="ligne.formGroup">
                    <ng-container *ngTemplateOutlet="ligneTemplate; context: { ligne1: ligne }"></ng-container>
                </tr>
            </ng-container>
        </tbody>
    </table>
</ng-template>

<ng-template #autreTemplate>
    <table [class]="vueTable.classe" #tableElement>
        <thead *ngIf="vueTable.enTetes" [class]="vueTable.classeEntete">
            <tr>
                <ng-container *ngTemplateOutlet="enTetesTemplate"></ng-container>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let ligne of vueTable.lignes">
                <tr *ngIf="ligne.visible" [class]="">
                    <ng-container *ngTemplateOutlet="ligneTemplate; context: { ligne1: ligne }"></ng-container>
                </tr>
            </ng-container>
        </tbody>
    </table>
</ng-template>