<ng-template #labelTemplate>
    <label #labelElement [attr.for]="composant.nom" [ngClass]="composant.classeLabel">
        <app-kf-contenu-phrase [contenuPhrase]="composant.contenuPhrase"></app-kf-contenu-phrase>
    </label>
</ng-template>

<ng-template #infoTemplate>
    <app-kf-etiquette *ngIf="composant.texteAide" [composant]="composant.texteAide"></app-kf-etiquette>
    <div *ngIf="composant.avecInvalidFeedback" class="invalid-feedback">
        <p *ngFor="let erreur of composant.erreurs">{{erreur}}</p>
    </div>
</ng-template>

<ng-container *ngIf="composant.classeDiv; then avecDivTemplate; else sansDivTemplate"></ng-container>
<ng-template #avecDivTemplate>
    <div [ngClass]="composant.classeDiv">
        <ng-container *ngTemplateOutlet="sansDivTemplate"></ng-container>
    </div>
</ng-template>
<ng-template #sansDivTemplate>
    <ng-container *ngIf="composant.avecLabel">
        <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
    </ng-container>
    <ng-container *ngIf="composant.classeEntree; then entreeAvecDivTemplate; else entreeTemplate"></ng-container>
    <ng-template #entreeAvecDivTemplate>
        <div [ngClass]="composant.classeEntree">
            <ng-container *ngTemplateOutlet="entreeTemplate"></ng-container>
        </div>
    </ng-template>
    <ng-container *ngTemplateOutlet="infoTemplate"></ng-container>
</ng-template>

<ng-template #entreeTemplate>
    <ng-container *ngIf="radios.avecNgBootstrap; then ngBootstrapTemplate; else classicTemplate"></ng-container>
</ng-template>

<ng-template #ngBootstrapTemplate>
    <div #divElement [ngClass]="composant.classe" [ngStyle]="composant.style">
        <div class="btn-group btn-group-toggle" ngbRadioGroup [formControl]="composant.formControl">
            <ng-container *ngFor="let radio of radios.contenus">
                <label ngbButtonLabel [ngClass]="radio.classe">
                    <input ngbButton type="radio" [value]="radio.valeur">
                    <app-kf-contenu-phrase [contenuPhrase]="radio.contenuPhrase"></app-kf-contenu-phrase>
                </label>
            </ng-container>
        </div>
        <ng-container *ngTemplateOutlet="infoTemplate"></ng-container>
    </div>
</ng-template>

<ng-template #classicTemplate>

    <div #divElement [ngClass]="composant.classe" [ngStyle]="composant.style">
        <ng-container *ngFor="let radio of radios.contenus">
            <app-kf-composant [composant]="radio" (output)="transmet($event)"></app-kf-composant>
        </ng-container>
        <ng-container *ngTemplateOutlet="infoTemplate"></ng-container>
    </div>

</ng-template>