<ng-template #contenu>
    <ng-container *ngIf="balise.contenuBalise; then baliseTemplate; else autreTemplatee"></ng-container>

    <ng-template #baliseTemplate>
        <app-kf-balise [balise]="balise.contenuBalise"></app-kf-balise>
    </ng-template>

    <ng-template #autreTemplatee>
        <ng-container *ngIf="balise.contenuTexte; then texteTemplate; else phraseTemplate"></ng-container>

        <ng-template #texteTemplate>
            {{ balise.contenuTexte }}
        </ng-template>

        <ng-template #phraseTemplate>
        <app-kf-contenu-phrase *ngIf="balise.contenuPhrase" [contenuPhrase]="balise.contenuPhrase"></app-kf-contenu-phrase>   
        </ng-template>
    </ng-template>
    
</ng-template>

<ng-container [ngSwitch]="balise.baliseHTML">

    <ng-container *ngSwitchCase="typeDeBalise.aucun">
        <ng-container *ngTemplateOutlet="contenu"></ng-container>
    </ng-container>

    <b *ngSwitchCase="typeDeBalise.b" #baliseElement [ngClass]="balise.classe" [ngStyle]="balise.style">
        <ng-container *ngTemplateOutlet="contenu"></ng-container>
    </b>

    <i *ngSwitchCase="typeDeBalise.i" #baliseElement [ngClass]="balise.classe" [ngStyle]="balise.style">
        <ng-container *ngTemplateOutlet="contenu"></ng-container>
    </i>

    <div *ngSwitchCase="typeDeBalise.div" #baliseElement [ngClass]="balise.classe" [ngStyle]="balise.style">
        <ng-container *ngTemplateOutlet="contenu"></ng-container>
    </div>

    <h1 *ngSwitchCase="typeDeBalise.h1" #baliseElement [ngClass]="balise.classe" [ngStyle]="balise.style">
        <ng-container *ngTemplateOutlet="contenu"></ng-container>
    </h1>

    <h2 *ngSwitchCase="typeDeBalise.h2" #baliseElement [ngClass]="balise.classe" [ngStyle]="balise.style">
        <ng-container *ngTemplateOutlet="contenu"></ng-container>
    </h2>

    <h3 *ngSwitchCase="typeDeBalise.h3" #baliseElement [ngClass]="balise.classe" [ngStyle]="balise.style">
        <ng-container *ngTemplateOutlet="contenu"></ng-container>
    </h3>

    <h4 *ngSwitchCase="typeDeBalise.h4" #baliseElement [ngClass]="balise.classe" [ngStyle]="balise.style">
        <ng-container *ngTemplateOutlet="contenu"></ng-container>
    </h4>

    <h5 *ngSwitchCase="typeDeBalise.h5" #baliseElement [ngClass]="balise.classe" [ngStyle]="balise.style">
        <ng-container *ngTemplateOutlet="contenu"></ng-container>
    </h5>

    <h6 *ngSwitchCase="typeDeBalise.h6" #baliseElement [ngClass]="balise.classe" [ngStyle]="balise.style">
        <ng-container *ngTemplateOutlet="contenu"></ng-container>
    </h6>

    <label *ngSwitchCase="typeDeBalise.label" #baliseElement [ngClass]="balise.classe" [ngStyle]="balise.style">
        <ng-container *ngTemplateOutlet="contenu"></ng-container>
    </label>

    <P *ngSwitchCase="typeDeBalise.p" #baliseElement [ngClass]="balise.classe" [ngStyle]="balise.style">
        <ng-container *ngTemplateOutlet="contenu"></ng-container>
    </P>

    <pre *ngSwitchCase="typeDeBalise.pre" #baliseElement [ngClass]="balise.classe" [ngStyle]="balise.style">
        <ng-container *ngTemplateOutlet="contenu"></ng-container>
    </pre>

    <small *ngSwitchCase="typeDeBalise.small" #baliseElement [ngClass]="balise.classe" [ngStyle]="balise.style">
        <ng-container *ngTemplateOutlet="contenu"></ng-container>
    </small>

    <span *ngSwitchCase="typeDeBalise.span" #baliseElement [ngClass]="balise.classe" [ngStyle]="balise.style">
        <ng-container *ngTemplateOutlet="contenu"></ng-container>
    </span>

    <strong *ngSwitchCase="typeDeBalise.strong" #baliseElement [ngClass]="balise.classe" [ngStyle]="balise.style">
        <ng-container *ngTemplateOutlet="contenu"></ng-container>
    </strong>

</ng-container>