<h5>{{ titre }}</h5>
<hr>
<ng-container *ngIf="chargementFini; then chargementFini_; else attente_"></ng-container>

<ng-template #attente_>
    <P *ngIf="messageChargement">{{messageChargement}}</P>
</ng-template>

<ng-template #chargementFini_>
    <ng-container *ngIf="erreurChargement; then chargementErreur_; else chargementOk_"></ng-container>
</ng-template>

<ng-template #chargementOk_>
    <app-kf-composant [composant]="superGroupe" (output)="traite($event)"></app-kf-composant>
    <router-outlet></router-outlet>
</ng-template>

<ng-template #chargementErreur_>
    <app-kf-composant [composant]="erreurChargement" (output)="traite($event)"></app-kf-composant>
</ng-template>