<div class="form-check" [ngClass]="{'form-group': !composant.estDansVueTable}">
    <label *ngIf="composant.contenuPhraseAvant" #labelElement [attr.for]="composant.nom" class="form-check-label">
        <app-kf-contenu-phrase [contenuPhrase]="composant.contenuPhrase"></app-kf-contenu-phrase>
    </label>
    <input type='checkbox' #inputElement [name]="composant.nom" [formControl]="composant.formControl" [ngClass]="ngClass" [attr.disabled]="composant.inactif" />
    <label *ngIf="composant.contenuPhraseApres" #labelElement [attr.for]="composant.nom" class="form-check-label">
        <app-kf-contenu-phrase [contenuPhrase]="composant.contenuPhrase"></app-kf-contenu-phrase>
    </label>
    <div *ngIf="composant.avecInvalidFeedback" class="invalid-feedback">
        <p *ngFor="let erreur of composant.erreurs">{{erreur}}</p>
    </div>
</div>
{{ composant.caseApres | json }}