<ng-container [ngSwitch]="composant.positionTexte">
    <ng-container *ngSwitchCase="'droite'">
        <ng-container *ngTemplateOutlet="iconeTemplate"></ng-container>&nbsp;<ng-container
            *ngTemplateOutlet="texteTemplate"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'haut'">
        <span [ngClass]="composant.classeFond" [ngStyle]="composant.styleFond">
            <ng-container *ngTemplateOutlet="texteAvecCss"></ng-container>
            <ng-container *ngTemplateOutlet="iconeTemplate"></ng-container>
        </span>
    </ng-container>
    <ng-container *ngSwitchCase="'gauche'">
        <ng-container *ngTemplateOutlet="texteTemplate"></ng-container>&nbsp;<ng-container
            *ngTemplateOutlet="iconeTemplate"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'bas'">
        <span [ngClass]="composant.classeFond" [ngStyle]="composant.styleFond">
            <ng-container *ngTemplateOutlet="iconeTemplate"></ng-container>
            <ng-container *ngTemplateOutlet="texteAvecCss"></ng-container>
        </span>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <ng-container *ngIf="composant.classeFond; else sansFondTemplate">
            <span [ngClass]="composant.classeFond" [ngStyle]="composant.styleFond">
                <ng-container *ngTemplateOutlet="iconeTemplate"></ng-container>
            </span>
        </ng-container>
        <ng-template #sansFondTemplate>
            <ng-container *ngTemplateOutlet="iconeTemplate"></ng-container>
        </ng-template>
    </ng-container>
</ng-container>

<ng-template #texteTemplate>
    <ng-container *ngIf="!composant.texteAvecCss; else texteAvecCss">
        {{ composant.texte }}
    </ng-container>
</ng-template>

<ng-template #texteAvecCss>
    <span [ngClass]="composant.classeTexte" [ngStyle]="composant.styleTexte">{{ composant.texte }}</span>
</ng-template>

<ng-template #iconeTemplate>
    <span>

        <ng-container *ngIf="!composant.couches; else couchesTemplate">
            <i #htmlElement [class]="composant.faClasse" [ngClass]="composant.classe" [ngStyle]="composant.style"></i>
        </ng-container>
        <ng-template #couchesTemplate>
            <span #htmlElement [class]="composant.faClassePile" [ngClass]="composant.classeFond" [ngStyle]="composant.styleFond">
                <ng-container *ngFor="let icone of composant.couches">
                    <i [class]="icone.faClasse" [ngClass]="icone.classe" [ngStyle]="icone.style"></i>
                </ng-container>
            </span>
        </ng-template>

    </span>
</ng-template>