<nav class="navbar navbar-expand-md navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" [attr.data-target]="'#' + menu.nom" [attr.aria-controls]="menu.nom"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-brand">
        <app-item-de-menu [item]="menu.site"></app-item-de-menu>
    </div>

    <div class="collapse navbar-collapse" [id]="menu.nom">

        <ul class="navbar-nav mr-auto">
            <li *ngFor="let item of menu.items" class="nav-item">
                <app-item-de-menu [item]="item"></app-item-de-menu>
            </li>
        </ul>

        <div class="navbar-right">
            <app-item-de-menu [item]="menu.compte"></app-item-de-menu>
        </div>

    </div>

</nav>