<ng-container *ngIf="composant.routerLinkActive; else elseTemplate">
    <a #baliseElement [routerLink]="composant.route" routerLinkActive="active" [queryParams]="composant.queryParams"
        [fragment]="composant.fragment" [ngClass]="composant.classe" [ngStyle]="composant.style">
        <app-kf-contenu-phrase [contenuPhrase]="composant.contenuPhrase"></app-kf-contenu-phrase>
    </a>
</ng-container>
<ng-template #elseTemplate>
    <a #baliseElement [routerLink]="composant.route" [queryParams]="composant.queryParams"
        [fragment]="composant.fragment" [ngClass]="composant.classe" [ngStyle]="composant.style">
        <app-kf-contenu-phrase [contenuPhrase]="composant.contenuPhrase"></app-kf-contenu-phrase>
    </a>
</ng-template>