<ng-container *ngIf="composant.legende; then avecLegendeTemplate; else sansLegendeTemplate;"></ng-container>

<ng-template #avecLegendeTemplate>
    <fieldset #htmlElement [class]="composant.classe">
        <legend [class]="composant.legende.classe">
            <app-kf-contenu-phrase [contenuPhrase]="composant.legende.contenuPhrase"></app-kf-contenu-phrase>
        </legend>
        <ng-container *ngTemplateOutlet="contenus"></ng-container>
    </fieldset>
</ng-template>

<ng-template #sansLegendeTemplate>
    <ng-container *ngIf="composant.estDansListe || !composant.estFormulaire; then pasFormulaire; else formulaire"></ng-container>

    <ng-template #pasFormulaire>
        <ng-container *ngIf="composant.typeDeValeur===typeDeValeur.avecGroupe; then avecFormGroup; else sansFormGroup"></ng-container>

        <ng-template #avecFormGroup>
            <div #htmlElement [formGroup]="formGroup" [class]="'form-group ' + composant.classe" [ngClass]="{'kf-invisible': !composant.visible}">
                <ng-container *ngTemplateOutlet="contenus"></ng-container>
            </div>
        </ng-template>

        <ng-template #sansFormGroup>
            <ng-container *ngIf="composant.estMasquable; then masquableTemplate; else normalTemplate"></ng-container>

            <ng-template #masquableTemplate>
                <div #htmlElement [ngbCollapse]="composant.masque" [class]="composant.classe">
                    <ng-container *ngTemplateOutlet="contenus"></ng-container>
                </div>
            </ng-template>
            <ng-template #normalTemplate>
                <div #htmlElement [ngClass]="{'kf-invisible': !composant.visible}" [class]="composant.classe">
                    <ng-container *ngTemplateOutlet="contenus"></ng-container>
                </div>
            </ng-template>
        </ng-template>
    </ng-template>

    <ng-template #formulaire>
        <!--" -->
        <form #htmlElement [formGroup]="formGroup" novalidate [class]="'form-group was-validated ' + composant.classe"
            [ngClass]="{'kf-invisible': !composant.visible}">
            <div *ngIf="composant.avecInvalidFeedback" class="invalid-feedback">
                <p *ngFor="let erreur of composant.erreurs">{{erreur}}</p>
            </div>
            <ng-container *ngTemplateOutlet="contenus"></ng-container>
        </form>
    </ng-template>

</ng-template>

<ng-template #contenus>
    <ng-container *ngFor="let contenu of composant.contenus; index as i">
        <app-kf-composant [attr.nom]="contenu.nom" [ngClass]="{'kf-invisible': !contenu.visible}" [composant]="contenu"
            (output)="transmet($event)">
        </app-kf-composant>
    </ng-container>
</ng-template>