<ng-template #popContent>
    <ng-container *ngFor="let contenu of composant.popContenus">
        <app-kf-etiquette [composant]="contenu"></app-kf-etiquette>
    </ng-container>
</ng-template>
<ng-template #popTitle>
    <app-kf-etiquette [composant]="composant.popTitre"></app-kf-etiquette>
</ng-template>
<button type="button" [class]="composant.bouton.classe" [ngbPopover]="popContent" [popoverTitle]="popTitle">
    <app-kf-contenu-phrase [contenuPhrase]="composant.bouton.contenuPhrase"></app-kf-contenu-phrase>
</button>