<ng-container [ngSwitch]="item.type">

    <ng-container *ngSwitchCase="'item'">
        <a [routerLink]="item.lien.route" [queryParams]="item.lien.queryParams" routerLinkActive="active">
            <app-kf-contenu-phrase [contenuPhrase]="item.lien.contenuPhrase"></app-kf-contenu-phrase>
        </a>
    </ng-container>

    <ng-container *ngSwitchCase="'dropdown'">
        <div ngbDropdown [class]="item.dropdown.classe">
            <button [id]="item.dropdown.nom" ngbDropdownToggle [ngClass]="item.dropdown.bouton.classe">
                <app-kf-contenu-phrase [contenuPhrase]="item.dropdown.contenuPhrase"></app-kf-contenu-phrase>
            </button>
            <div ngbDropdownMenu [attr.aria-labelledby]="item.dropdown.nom">
                <ng-container *ngFor="let itm of item.items">
                    <app-item-de-menu [item]="itm"></app-item-de-menu>
                </ng-container>
            </div>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="'dropdownItem'">
        <a [routerLink]="item.lien.route" [queryParams]="item.lien.queryParams" routerLinkActive="active" class="dropdown-item">
            <app-kf-contenu-phrase [contenuPhrase]="item.lien.contenuPhrase"></app-kf-contenu-phrase>
        </a>
    </ng-container>

    <ng-container *ngSwitchCase="'dropdownGroup'">
        <ng-container *ngIf="item.items.length > 0">
            <div class="dropdown-divider"></div>
            <ng-container *ngFor="let itm of item.items">
                <app-item-de-menu [item]="itm"></app-item-de-menu>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-container>