<ng-container *ngIf="balise; then thenTemplate; else autreTemplate"></ng-container>

<ng-template #thenTemplate>
    <app-kf-balise [balise]="balise"></app-kf-balise>
</ng-template>

<ng-template #autreTemplate>
    <ng-container *ngIf="suiviDeSaut; then suiviDeSautTemplate; else normalTemplate"></ng-container>

    <ng-template #suiviDeSautTemplate>
        <app-kf-contenu-phrase [contenuPhrase]="contenuPhrase"></app-kf-contenu-phrase><br>
    </ng-template>

    <ng-template #normalTemplate>
        <app-kf-contenu-phrase [contenuPhrase]="contenuPhrase"></app-kf-contenu-phrase>
    </ng-template>
</ng-template>


<!--
<ng-container [ngSwitch]="composant.baliseHTML">

    <ng-container *ngSwitchCase="typeDeBalise.aucun">
        <app-kf-contenu-phrase  [contenuPhrase]="composant.contenuPhrase"></app-kf-contenu-phrase>
    </ng-container>

    <div *ngSwitchCase="typeDeBalise.div" #baliseElement [ngClass]="composant.classe" [ngStyle]="composant.style">
        <app-kf-contenu-phrase  [contenuPhrase]="composant.contenuPhrase"></app-kf-contenu-phrase>
    </div>

    <small *ngSwitchCase="typeDeBalise.small" #baliseElement [ngClass]="composant.classe" [ngStyle]="composant.style">
        <app-kf-contenu-phrase  [contenuPhrase]="composant.contenuPhrase"></app-kf-contenu-phrase>
    </small>

    <span *ngSwitchCase="typeDeBalise.span" #baliseElement [ngClass]="composant.classe" [ngStyle]="composant.style">
        <app-kf-contenu-phrase  [contenuPhrase]="composant.contenuPhrase"></app-kf-contenu-phrase>
    </span>

    <P *ngSwitchCase="typeDeBalise.P" #baliseElement [ngClass]="composant.classe" [ngStyle]="composant.style">
        <app-kf-contenu-phrase  [contenuPhrase]="composant.contenuPhrase"></app-kf-contenu-phrase>
    </P>

    <h1 *ngSwitchCase="typeDeBalise.h1" #baliseElement [ngClass]="composant.classe" [ngStyle]="composant.style">
        <app-kf-contenu-phrase  [contenuPhrase]="composant.contenuPhrase"></app-kf-contenu-phrase>
    </h1>

    <h2 *ngSwitchCase="typeDeBalise.h2" #baliseElement [ngClass]="composant.classe" [ngStyle]="composant.style">
        <app-kf-contenu-phrase  [contenuPhrase]="composant.contenuPhrase"></app-kf-contenu-phrase>
    </h2>

    <h3 *ngSwitchCase="typeDeBalise.h3" #baliseElement [ngClass]="composant.classe" [ngStyle]="composant.style">
        <app-kf-contenu-phrase  [contenuPhrase]="composant.contenuPhrase"></app-kf-contenu-phrase>
    </h3>

    <h4 *ngSwitchCase="typeDeBalise.h4" #baliseElement [ngClass]="composant.classe" [ngStyle]="composant.style">
        <app-kf-contenu-phrase  [contenuPhrase]="composant.contenuPhrase"></app-kf-contenu-phrase>
    </h4>

    <h5 *ngSwitchCase="typeDeBalise.h5" #baliseElement [ngClass]="composant.classe" [ngStyle]="composant.style">
        <app-kf-contenu-phrase  [contenuPhrase]="composant.contenuPhrase"></app-kf-contenu-phrase>
    </h5>

    <h6 *ngSwitchCase="typeDeBalise.h6" #baliseElement [ngClass]="composant.classe" [ngStyle]="composant.style">
        <app-kf-contenu-phrase  [contenuPhrase]="composant.contenuPhrase"></app-kf-contenu-phrase>
    </h6>

    <label *ngSwitchCase="typeDeBalise.label" #baliseElement [ngClass]="composant.classe" [ngStyle]="composant.style">
        <app-kf-contenu-phrase  [contenuPhrase]="composant.contenuPhrase"></app-kf-contenu-phrase>
    </label>

</ng-container>
-->