<div class="form-group">
    <label *ngIf="composant.texteImage" #labelElement [attr.for]="composant.nom">
        <app-kf-texte-image [texteImage]="composant.texteImage"></app-kf-texte-image>
    </label>
    <select
        #selectElement
        [name]="composant.nom"
        [compareWith]="compareOptions"
        [formControl]="composant.formControl"
        [ngClass]="composant.classe">
    >
        <ng-container *ngFor="let option of composant.options">
            <option #optionElement *ngIf="!option.estObject && !option.valeur">{{ option.texte }}</option>
            <option #optionElement *ngIf="!option.estObject && option.valeur" [value]="option.valeur">{{ option.texte }}</option>
            <option #optionElement *ngIf="option.estObject" [ngValue]="option.valeur">{{ option.texte }}</option>
        </ng-container>
    </select>
    <div class="invalid-feedback">
        <p *ngFor="let erreur of composant.erreurs">{{erreur}}</p>
    </div>
</div>
