<div [ngClass]="{'form-group': !composant.estDansVueTable}">
    <label *ngIf="composant.contenuPhrase" #labelElement [attr.for]="composant.nom">
        <app-kf-contenu-phrase [contenuPhrase]="composant.contenuPhrase"></app-kf-contenu-phrase>
    </label>
    <select
        #selectElement
        [name]="composant.nom"
        [compareWith]="compareOptions"
        [formControl]="composant.formControl"
        [class]="composant.classe" [ngStyle]="composant.style">
    >
        <ng-container *ngFor="let option of composant.options">
            <option #optionElement *ngIf="!option.estObject && !option.valeur">{{ option.texte }}</option>
            <option #optionElement *ngIf="!option.estObject && option.valeur" [value]="option.valeur">{{ option.texte }}</option>
            <option #optionElement *ngIf="option.estObject" [ngValue]="option.valeur">{{ option.texte }}</option>
        </ng-container>
    </select>
    <div *ngIf="composant.avecInvalidFeedback" class="invalid-feedback">
        <p *ngFor="let erreur of composant.erreurs">{{erreur}}</p>
    </div>
</div>
