<ng-template #sansDimensions_>
    <img #imgElement [src]="composant.url" [attr.width]="composant.largeur"  [ngClass]="composant.classe" [ngStyle]="composant.style"/>
</ng-template>
<ng-template #avecLargeurSeule_>
    <img #imgElement [src]="composant.url" [attr.width]="composant.largeur" [ngClass]="composant.classe" [ngStyle]="composant.style" />
</ng-template>
<ng-template #avecHauteurSeule_>
    <img #imgElement [src]="composant.url" [attr.height]="composant.hauteur" [ngClass]="composant.classe" [ngStyle]="composant.style" />
</ng-template>
<ng-template #avecLargeurEtHauteur_>
    <img #imgElement [src]="composant.url" [attr.width]="composant.largeur" [attr.height]="composant.hauteur" [ngClass]="composant.classe" [ngStyle]="composant.style" />
</ng-template>

<ng-template #avecLargeur_>
    <ng-container *ngIf="avecHauteur; then avecLargeurEtHauteur_; else avecHauteurSeule_"></ng-container>
</ng-template>
<ng-template #sansLargeur_>
    <ng-container *ngIf="avecHauteur; then avecHauteurSeule_; else sansDimensions_"></ng-container>
</ng-template>

<ng-container *ngIf="avecLargeur; then avecLargeur_; else sansLargeur_"></ng-container>
